<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="testCases.TestCase_TC01" />
			<methods>
				<include name="TC001ValidLogin" />
				<include name="TC004InvalidLoginWith_IncompleteUser" />
				<include name="TC003InvalidLoginWith_InactiveId" />
				<include name="TC007VerifyPre_detailPgByEmail" />
				<include name="TC005InvalidLoginWith_InvalidUser" />
				<include name="TC002InvalidLoginWithPass" />
			</methods>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
